<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout.html}" lang="en">
<head></head>
<body>
<div layout:fragment="contents">
    <section class="expenseList">
        <h2>My Expenses</h2>
        <p th:id="no_expenses" th:if="${#lists.isEmpty(expenses)}">You don't have any expenses!</p>
        <a th:id="add_expense" href="/newexpense">Add a new expense</a>

        <div id="expenses" th:unless="${#lists.isEmpty(expenses)}">
            <table>
                <thead>
                <tr>
                    <th>When</th>
                    <th>What</th>
                    <th>Amount Spent</th>
                    <th>Payments Requested</th>
                    <th>Payments Received</th>
                    <th>Nett Expense</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="expense: ${expenses}">
                    <tr>
                        <td th:id="'date_' + ${expense.id}" th:text="${expense.date}">05/09/2022</td>
                        <td>
                            <a  th:id="'payment_request_' + ${expense.id}" th:href="@{/paymentrequest(expenseId=${expense.id})}"  th:text="${expense.description}">Lunch</a>
                        </td>                        
                        <td th:id="'amount_' + ${expense.id}" th:text="${expense.amount}">ZAR 120</td>
                        <td th:id="'request_' + ${expense.id}" th:text="${expense.totalAmountOfPaymentsRequested()}">ZAR 0</td>
                        <td th:id="'received_' + ${expense.id}" th:text="${expense.totalAmountForPaymentsReceived()}">ZAR 0</td>
                        <td th:id="'nett_' + ${expense.id}" th:text="${expense.amountLessPaymentsReceived()}">ZAR 0</td>
                    </tr>
                </th:block>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" style="text-align: right;">Total expenses:</td>
                    <td th:id="grand_total" th:text="${totalAmount}">ZAR 0</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </section>
</div>
</body>
</html>